* {box-sizing: border-box;}

/* Loading Custom Fonts */
@font-face
{
    font-family: 'Tcfont-Regular';
    src: url('../font/Bambino_W00_Regular.woff2') format('woff2'),       /* Super Modern Browsers */
            url('../font/Bambino_W00_Regular.woff') format('woff'),      /* Pretty Modern Browsers */
            url('../font/Bambino_W00_Regular.ttf') format('ttf');       /* Safari, Android, iOS */
}
@font-face
{
    font-family: 'Tcfont-Bold';
    src: url('../font/Bambino_W00_Bold.woff2') format('woff2'),       /* Super Modern Browsers */
            url('../font/Bambino_W00_Bold.woff') format('woff'),      /* Pretty Modern Browsers */
            url('../font/Bambino_W00_Bold.ttf') format('ttf');       /* Safari, Android, iOS */
}
@font-face
{
    font-family: 'Tcfont-Black';
    src: url('../font/Bambino_W00_Black.woff2') format('woff2'),       /* Super Modern Browsers */
            url('../font/Bambino_W00_Black.woff') format('woff'),      /* Pretty Modern Browsers */
            url('../font/Bambino_W00_Black.ttf') format('truetype');       /* Safari, Android, iOS */
}
@font-face
{
    font-family: 'Tcfont-Black-Italic';
    src: url('/TARCINEMAA/font/Bambino_W00_Black_Italic.woff2') format('woff2'),       /* Super Modern Browsers */
            url('../font/Bambino_W00_Black_Italic.woff') format('woff'),      /* Pretty Modern Browsers */
            url('../font/Bambino_W00_Black_Italic.ttf') format('truetype');       /* Safari, Android, iOS */
} 

body {
  background-color: #0c0c09;
  margin: 0 auto ;
  width: 100%;
  max-width: auto;
	min-width: 640px;
  padding: 2%;
}

/* ORG STRUCTURE */
.org_title {
  text-align: center;
  /* padding-left: 50px; */
}

.org_structure_table {
  align-items: center;
  float: left;
}

.org_structure {
  background-color: #F6B162;
  color: #0c0c09;
  width: 230px;
  height: 328px;
  border-radius: 20px;
}

.org_structure:hover {
  transform: scale(1.02);
  transition-delay: 0.2s;
  border: 3px solid #efedff;
}

.org_structure > img {
  height: 180px;
  /* border-radius: 20px 20px 20px 20px; */
  /* padding-top: 25px; */
}

.org_name {
  font-family: 'Tcfont-Black';
}

.org_role, .org_email {
  font-family: 'Tcfont-Bold';
  font-size: small;
}

.org_role:hover, .org_email:hover {
  transform: scale(1.10);
  transition-duration: 0.5s;
}

#org_photo {
  border-radius: 15px;
  border: 3px solid #0c0c09;
  cursor: default;
}

#org_photo:hover {
  transform: scale(1.05);
  transition-duration: 0.5s;

}

.org_name, .org_role, .org_email {
  text-align: center;
}

.org_email {
  color: #0c0c09;
  text-decoration: none;
}

.cs_p {
  font-family: "Tcfont-Regular";
  text-align: justify;
}

.big_screen_img {
  cursor: default;
}


