@charset "utf-8";

/*HEADER DESIGN*/
* {box-sizing: border-box;}

/* Loading Custom Fonts */
@font-face
{
    font-family: 'Tcfont-Regular';
    src: url('../font/Bambino_W00_Regular.woff2') format('woff2'),       /* Super Modern Browsers */
            url('../font/Bambino_W00_Regular.woff') format('woff'),      /* Pretty Modern Browsers */
            url('../font/Bambino_W00_Regular.ttf') format('ttf');       /* Safari, Android, iOS */
}
@font-face
{
    font-family: 'Tcfont-Bold';
    src: url('../font/Bambino_W00_Bold.woff2') format('woff2'),       /* Super Modern Browsers */
            url('../font/Bambino_W00_Bold.woff') format('woff'),      /* Pretty Modern Browsers */
            url('../font/Bambino_W00_Bold.ttf') format('ttf');       /* Safari, Android, iOS */
}
@font-face
{
    font-family: 'Tcfont-Black';
    src: url('../font/Bambino_W00_Black.woff2') format('woff2'),       /* Super Modern Browsers */
            url('../font/Bambino_W00_Black.woff') format('woff'),      /* Pretty Modern Browsers */
            url('../font/Bambino_W00_Black.ttf') format('truetype');       /* Safari, Android, iOS */
}
@font-face
{
    font-family: 'Tcfont-Black-Italic';
    src: url('../font/Bambino_W00_Black_Italic.woff2') format('woff2'),       /* Super Modern Browsers */
            url('../font/Bambino_W00_Black_Italic.woff') format('woff'),      /* Pretty Modern Browsers */
            url('../font/Bambino_W00_Black_Italic.ttf') format('truetype');       /* Safari, Android, iOS */
} 

body {
  background-color: #0c0c09;
  margin: 0 auto ;
  width: 100%;
  max-width: auto;
	min-width: 640px;
  padding: 2%;
  font-family: 'Tcfont-Regular';
  color: #e9e9e9;
}

table{
    font-family: 'Tcfont-Black';
}


span.movie {
  color: white;
  font-family: "Tcfont-Bold";
  font-size: 1.5em;
  float: right;
}

.selection {
  background-color: #0c0c09;
  color:white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 25px;
  transition: 0.4s;
  font-family: 'Tcfont-Black';
  border-radius: 30px;
  text-align: center;
}

.selection:hover {
  background-color: #F6B162;
  color: #0c0c09;
}
  
div.time {
  padding: 10px 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  font-family: 'Tcfont-Black';
}

span.movie {
  color: white;
  font-family: "Tcfont-Black";
  font-size: 1.5em;
  float: right;
}

span.time {
  color: #F6B162;
  font-family: "Tcfont-Black";
  font-size: 1.5em;
}

span.time:hover{
  cursor: pointer;
}

span.hall {
  color: white;
  font-family: "Tcfont-Black";
  font-size: 1em;
  /*border: solid red;*/
}

th#timeslot{
  /*border: green solid;*/
  width: 500px;
}