* {
    font-family: "Tcfont-Bold";
}

                    /* Loading Custom Fonts */
@font-face
{
    font-family: 'Tcfont-Regular';
    src: url('../font/Bambino_W00_Regular.woff2') format('woff2'),       /* Super Modern Browsers */
            url('../font/Bambino_W00_Regular.woff') format('woff'),      /* Pretty Modern Browsers */
            url('../font/Bambino_W00_Regular.ttf') format('truetype');       /* Safari, Android, iOS */
}
@font-face
{
    font-family: 'Tcfont-Bold';
    src: url('../font/Bambino_W00_Bold.woff2') format('woff2'),       /* Super Modern Browsers */
            url('../font/Bambino_W00_Bold.woff') format('woff'),      /* Pretty Modern Browsers */
            url('../font/Bambino_W00_Bold.ttf') format('truetype');       /* Safari, Android, iOS */
}
@font-face
{
    font-family: 'Tcfont-Black';
    src: url('../font/Bambino_W00_Black.woff2') format('woff2'),       /* Super Modern Browsers */
            url('../font/Bambino_W00_Black.woff') format('woff'),      /* Pretty Modern Browsers */
            url('../font/Bambino_W00_Black.ttf') format('truetype');       /* Safari, Android, iOS */
}
@font-face
{
    font-family: 'Tcfont-Black-Italic';
    src: url('../font/Bambino_W00_Black_Italic.woff2') format('woff2'),       /* Super Modern Browsers */
            url('../font/Bambino_W00_Black_Italic.woff') format('woff'),      /* Pretty Modern Browsers */
            url('../font/Bambino_W00_Black_Italic.ttf') format('truetype');       /* Safari, Android, iOS */
}                               /* Loading Custom Fonts - Finished */

body {
    background-color: #333;
}

.container {
    margin: 100px auto;
    width: 350px;
    background-color: #fff5f5;
    padding: 60px;
    border-radius: 11px;
}

.logo {
    background-color: rgb(85, 53, 17);
    width: 100px;
    height: 100px;
    border-radius: 20%;
    margin: 0 auto;
    margin-bottom: 10px;
}

.logo img {
    width: 70%;
    padding: 15.5px 0px 0px 17px;
}

#acc1 {
    /* padding-top: 20px; */
    text-align: center;
}
#acc {
    color: rgb(150, 38, 38);
}

.title, .sub-title {
    text-align: center;
    color: rgb(150, 38, 38);
}

.title {
    font-weight: bolder;
    font-size: 35px;
}

.sub-title {
    font-size: 18px;
}

.form {
    width: 100%;
    margin-top: 30px;
}

.form input {
    font-size: 18px;
    padding: 10px 20px 10px 5px;
    border: none;
    outline: none;
    background: none;
}

.email {
    display: block;
    border-radius: 30px;
    border: 1px solid rgba(0,0,0,0.2);
    padding: 10px;
    margin: 10px 0;
    background-color: #fff5f5;
}

button.confirmbtn {
    width: 100%;
    padding: 12px 10px;
    border: none;
    font-size: 18px;
    border-radius: 30px;
    background-color: rgb(150, 38, 38);
    color: #fff5f5;
    margin-bottom: 5px;
    cursor: pointer;
}

button.confirmbtn:hover {
    background-color: rgb(194, 115, 115);

}

/* a {
    color: rgb(36, 22, 223);
} */
