
/* The CSS file named "general_style.css" serves as a reference to the shared CSS applied across all pages, focusing on the overall HTML structure, encompassing elements such as font-family, header, body, button and footer. */


                    /* Loading Custom Fonts */
@font-face
{
    font-family: 'Tcfont-Regular';
    src: url('../font/Bambino_W00_Regular.woff2') format('woff2'),       /* Super Modern Browsers */
            url('../font/Bambino_W00_Regular.woff') format('woff'),      /* Pretty Modern Browsers */
            url('../font/Bambino_W00_Regular.ttf') format('truetype');       /* Safari, Android, iOS */
}
@font-face
{
    font-family: 'Tcfont-Bold';
    src: url('../font/Bambino_W00_Bold.woff2') format('woff2'),       /* Super Modern Browsers */
            url('../font/Bambino_W00_Bold.woff') format('woff'),      /* Pretty Modern Browsers */
            url('../font/Bambino_W00_Bold.ttf') format('truetype');       /* Safari, Android, iOS */
}
@font-face
{
    font-family: 'Tcfont-Black';
    src: url('../font/Bambino_W00_Black.woff2') format('woff2'),       /* Super Modern Browsers */
            url('../font/Bambino_W00_Black.woff') format('woff'),      /* Pretty Modern Browsers */
            url('../font/Bambino_W00_Black.ttf') format('truetype');       /* Safari, Android, iOS */
}
@font-face
{
    font-family: 'Tcfont-Black-Italic';
    src: url('../font/Bambino_W00_Black_Italic.woff2') format('woff2'),       /* Super Modern Browsers */
            url('../font/Bambino_W00_Black_Italic.woff') format('woff'),      /* Pretty Modern Browsers */
            url('../font/Bambino_W00_Black_Italic.ttf') format('truetype');       /* Safari, Android, iOS */
}                               /* Loading Custom Fonts - Finished */


                    /* Basic */
* body
{
    color: #EFEDFF;
    background-color: #111111;
    font-family: "Tcfont-Bold";
    margin: 0 auto;
    padding: 0;
    width: 100%;
    max-width: 1024px;
    min-width: 640px;
    box-sizing: border-box;
}                               /* Basic - Finished */


                    /* Navigation */
header
{
    color: #3E4491;
    font-weight: bold;
    font-size: 25px;
    text-align: left;
    padding: 10px;
}

.top_nav
{
    overflow: hidden;
    width: 100%;
}

ul
{
    background-color: #111111;
    margin: 0;
    padding: 0;
    list-style-type: none;
    overflow: hidden;
}
  
li
{
    float: left;
}

.fa
{
    transform: scale(1.45);
}

.fa:hover
{
    transform: scale(2.35);
}

body > div > ul > li > a > img:hover
{
    transform: scale(1.55);
}
  
.top_nav a, .drop_btn
{
    color: #EFEDFF;
    text-align: center;
    padding: 25px 25px 25px 25px;
    text-decoration: none;
    display: inline-block;
}
  
.top_nav a:hover, .dropdown:hover .drop_btn
{
    background-color: #EFEDFF;
    cursor: pointer;
}
  
.top_nav a:hover
{
    color: #4E214F;
    transition-delay: 0.20s;
}
  
.top_nav a.active
{
    color: #EFEDFF;
}
  
.top_nav .icon
{
    display: none;
}

.dropdown_content > a:hover
{
    color: #8186F1;
}

.top_nav_hover_none:hover
{
    transform: scale(1.55);
}

.profile_imgButton:hover {
    transform: scale(1.55);
}
  
/* When the screen is less than 600 pixels wide, hide all links, except
    for the first one ("Home"). Show the link that contains should open
    and close the top_nav (.icon) */
@media screen and (max-width: 600px)
{
    .top_nav a:not(:first-child)
    {
        display: none;
    }
    .top_nav a.icon
    {
        float: right;
        display: block;
    }
}

/* The "responsive" class is added to the top_nav with JavaScript when the
    user clicks on the icon. This class makes the top_nav look good on small
    screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px)
{
    .top_nav.responsive
    {
        position: relative;
    }
    .top_nav.responsive .icon
    {
        position: absolute;
        right: 0;
        top: 0;
    }
    .top_nav.responsive a
    {
        float: none;
        display: block;
        text-align: left;
    }
}

li.dropdown
{
    color: #4E214F;
    display: inline-block;
}

li.dropdown:hover
{
    background-color: #1a1313;
    display: inline-block;
}
  
.dropdown_content
{
    background-color: #EFEDFF;
    display: none;
    position: absolute; /* fix the navigation bar to prevent dropdown menu extend it */
    min-width: 150px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
.dropdown_content a
{
    color: #4E214F;
    background-color: #EFEDFF;
    padding: 12px 16px;
    text-align: left;
    text-decoration: none;
    display: block;
}
  
.dropdown_content a:hover
{
    background-color: #EFEDFF;
}
  
.dropdown:hover .dropdown_content
{
    display: block;
}

#navSign_button {
    color: #111111;
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
    height: 40px;

    background-color: #F6B162;
    font-family: 'Tcfont-Black';
    font-size: 16px;
    border-radius: 20px;
    height: 100%;
    margin: 5px 5px 0 5px;
    padding: 15px 30px;
    display: flex;
    position: relative;
    display: inline-block;
    /* padding-right: 40px; */
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    letter-spacing: 2px;
    text-decoration: none;
    overflow: hidden;
    transition: 0.2s;
}

#navSign_button:hover
{
    color: #00042c;
    background: #F6B162;
    box-shadow: 0 0 10px #edb06a,
                0 0 10px #edb06a,
                0 0 10px #edb06a;
    cursor: pointer;
    transform: scale(1.01);
    transition-delay: 0.50s;
}

img
{
    cursor: pointer;
}                                   /* Navigation - Finished */

/*  */                    /* Navugation 2 */

                                   /* Navigation 2 - Finished */

                    /* Header - TAR Cinemas Logo Design */
.logo_header
{
    font-family: "Tcfont-Black";
    color: #ffffff;
    font-size: 10px;
}

span
{
    font-family: "Tcfont-Black-Italic";
    color: #f6b162;
}

span:hover
{
    color: #ffffff;
    transition-delay: 0.10s;
}                                   /* Header - TAR Cinemas Logo Design - Finished */


                    /* Footer - TAR Cinemas Logo Design */
#logo_footer
{
    font-family: "Tcfont-Black";
    color: #ffffff;
    font-size: 40px;
    text-decoration: none;
}

#logo_footer:hover
{
    /* color: #fff100; */
    color: #f6b162;
}

#logo_footer > span:hover
{
    color: #ffffff;
}                                   /* Footer - TAR Cinemas Logo Design - Finished */


                    /* BUY NOW's button */
.buyNow_button
{
    color: #00042c;
    background-color: #F6B162;
    font-family: 'Tcfont-Black';
    font-size: 16px;
    border-radius: 20px;
    height: 100%;
    margin: 5px 5px 0 5px;
    padding: 15px 30px;
    display: flex;
    position: relative;
    display: inline-block;
    /* padding-right: 40px; */
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    letter-spacing: 2px;
    text-decoration: none;
    overflow: hidden;
    transition: 0.2s;
}

.buyNow_button:hover
{
    color: #00042c;
    background: #F6B162;
    box-shadow: 0 0 25px #edb06a,
                0 0 25px #edb06a,
                0 0 25px #edb06a;
    cursor: pointer;
    transform: scale(1.01);
    transition-delay: 0.10s;
}                                   /* BUY NOW's button - Finished */


                    /* Footer - Neon Button */
#neon_button
{
    color: #00042c;
    background-color: rgb(195, 136, 69);
    font-family: 'Tcfont-Black';
    font-size: 16px;
    border-radius: 20px;
    height: 3vh;
    margin: 15px 10px 0 10px;
    padding: 0;
    padding: 15px 30px;
    display: flex;
    position: relative;
    display: inline-block;
    justify-content: center;
    align-items: center;
    letter-spacing: 2px;
    text-transform: capitalize;
    text-decoration: none;
    overflow: hidden;
    transition: 0.2s;
}

#neon_button:hover
{
    color: #00042c;
    background: #F6B162;
    box-shadow: 0 0 10px #FFD746,
                0 0 40px #FFD746,
                0 0 80px #FFD746;
    cursor: pointer;
    transform: scale(1.01);
    transition-delay: 0.10s;
}                                   /* Neon Button - Finished */


                    /* Footer */
#business_name
{
    color: #fff100;
    font-size: large;
}

#address
{
    color: #EFEDFF;
    font-size: smaller;
    text-decoration: none;
    margin-bottom: 0;
}

.socialMedia_container
{
    /* position: absolute; */
    /* float: right; */
    bottom: 30px;
    right: 30px;
    /* margin: auto; */
    /* vertical-align: bottom; */
    /* align-items: end; */
    /* text-align: right; */
    /* justify-content: flex-end; */
}

.ssm_regNumber
{
    color: #EFEDFF;
    font-size: x-small;
}

.ssm_regNumber:hover
{
    color: #EFEDFF;
}

footer > img
{
    height: 30px;
}                                   /* Footer - Finished */


                    /* General CSS */
h1, h2, h3, h4, h5, h6
{
    color: #EFEDFF;
}
