
/* The CSS file named "general_style.css" serves as a reference to the shared CSS applied across all pages, focusing on the overall HTML structure, encompassing elements such as font-family, header, body, button and footer. */


                    /* Loading Custom Fonts */
@font-face
{
    font-family: 'Tcfont-Regular';
    src: url('../font/Bambino_W00_Regular.woff2') format('woff2'),       /* Super Modern Browsers */
            url('../font/Bambino_W00_Regular.woff') format('woff'),      /* Pretty Modern Browsers */
            url('../font/Bambino_W00_Regular.ttf') format('truetype');       /* Safari, Android, iOS */
}
@font-face
{
    font-family: 'Tcfont-Bold';
    src: url('../font/Bambino_W00_Bold.woff2') format('woff2'),       /* Super Modern Browsers */
            url('../font/Bambino_W00_Bold.woff') format('woff'),      /* Pretty Modern Browsers */
            url('../font/Bambino_W00_Bold.ttf') format('truetype');       /* Safari, Android, iOS */
}
@font-face
{
    font-family: 'Tcfont-Black';
    src: url('../font/Bambino_W00_Black.woff2') format('woff2'),       /* Super Modern Browsers */
            url('../font/Bambino_W00_Black.woff') format('woff'),      /* Pretty Modern Browsers */
            url('../font/Bambino_W00_Black.ttf') format('truetype');       /* Safari, Android, iOS */
}
@font-face
{
    font-family: 'Tcfont-Black-Italic';
    src: url('../font/Bambino_W00_Black_Italic.woff2') format('woff2'),       /* Super Modern Browsers */
            url('../font/Bambino_W00_Black_Italic.woff') format('woff'),      /* Pretty Modern Browsers */
            url('../font/Bambino_W00_Black_Italic.ttf') format('truetype');       /* Safari, Android, iOS */
}                               /* Loading Custom Fonts - Finished */


                    /* Basic */
* body
{
    color: #EFEDFF;
    background-color: #0c0c09;
    font-family: "Tcfont-Bold";
    margin: 0 auto;
    padding: 0;
    width: 100%;
    min-width: 640px;
    max-width: 1024px;
    box-sizing: border-box;
}                               /* Basic - Finished */


/* Footer - TAR Cinemas Logo Design */
#logo_footer
{
    font-family: "Tcfont-Black";
    color: #ffffff;
    font-size: 40px;
    text-decoration: none;
}

#logo_footer:hover
{
    /* color: #fff100; */
    color: #f6b162;
}

#logo_footer > span:hover
{
    color: #ffffff;
}                                   /* Footer - TAR Cinemas Logo Design - Finished */

                    /* Footer */
#business_name
{
    color: #fff100;
    font-size: large;
}

#address
{
    color: #EFEDFF;
    font-size: smaller;
    text-decoration: none;
    margin-bottom: 0;
}

.socialMedia_container
{
    /* position: absolute; */
    /* float: right; */
    bottom: 30px;
    right: 30px;
    /* margin: auto; */
    /* vertical-align: bottom; */
    /* align-items: end; */
    /* text-align: right; */
    /* justify-content: flex-end; */
}

.ssm_regNumber
{
    color: #EFEDFF;
    font-size: x-small;
}

.ssm_regNumber:hover
{
    color: #EFEDFF;
}

footer > img
{
    height: 30px;
}                                   /* Footer - Finished */


                    /* General CSS */

