@charset "utf-8";

/* TAB LAYOUT's Movie Poster */
.movie_poster_region {
  width: 100%;
  margin: auto;
  justify-content: center;
}

.movie_poster_column {
  float: left;
  padding-left: 15px;
  padding-bottom: 15px;
  width: 25%;
}

.movie_poster_container {
  display: flex;
  position: relative;
  width: 100%;
  overflow: hidden;
  border: solid white; 
  border-radius: 15px;
  margin-bottom: 15px;
}

.movie_poster_container > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  border-radius: 15px;
}

.movie_poster_container:hover{
  transform: scale(1.02);
}

.moviePosterContainer_overlayText {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  color: #EFEDFF;
  text-align: left;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
}

.movie_poster_container:hover .moviePosterContainer_overlayText {
  opacity: 1; /* Show the text on hover */
}

.moviePosterDetails {
  text-align: left;
}

.movie_poster_container > table > tr > td {
  text-align: left;
  border: #EFEDFF;
}

.buyNow_button
{
  color: orange;
  background-color: rgb(34, 34, 34);
  font-family: 'Tcfont-Black';
  font-size: 16px;
  border-radius: 20px;
  height: 100%;
  margin: 5px 5px 0 5px;
  padding: 15px 30px;
  display: flex;
  position: relative;
  display: inline-block;
  /* padding-right: 40px; */
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  letter-spacing: 2px;
  text-decoration: none;
  overflow: hidden;
  transition: 0.2s;
}

.buyNow_button:hover
{
  color: black;
  background: orange;
  box-shadow: 0 0 25px orange;
  cursor: pointer;
  transform: scale(1.01);
  transition-delay: 0.10s;
}                                   /* BUY NOW's button - Finished */

footer {
  display: block;
  padding-top: 20px;
  margin: 1000px;
}