.big_container {
    max-width: 900px;
    max-height: 700px;
    margin: auto;
    padding: auto;
}

.payment-method-table {
    color: white;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.payment-method-button{
    text-align: center;
    display: block;
    width: 100%;
}

.payment-method-choice {
    cursor: pointer;
    text-decoration: none;
    color: rgb(209, 183, 166);
    display: block;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
}

.payment-method-purchase{
    cursor: pointer;
    text-decoration: none;
    color: #0c0c09;
    background-color: #F6B162;
    display: block;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    text-align: center;
}

.order-details-purchase{
    width: 100%;
    text-align: left;
    padding: 20px 80px 20px 80px;
    border: 1px solid;
    border-color: #F6B162;
    color: white;
}



.payment-method-choice a:hover {
    display: block;
    background-color: #F6B162;
    color: #0c0c09;
    text-align: center;
}

.bank_type_img {
    width: 100%;
    border-radius: 10px;
    max-width: 300px;
}

.bank_type_img:hover {
    opacity: 0.5;
}

#qrCode{
    width: 33.33%;
}

.qr-details {
    display: none;
}

.fpx-details{
    display: none;
}

.format {
    padding: 10px;
}

td {
    padding: 5px;
}

input {
    padding: 5px;
    border-radius: 5px;
    border: none;
    background-color: lightgray;
}

::placeholder {
    text-align: center;
}

.separator {
    width: 100%;
    height: 1px;
    background-color: #333;
    margin-top: 32px;
}

.payment-success-container {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    z-index: 999;
}

/* Styles for the payment success card */
.payment-success-card {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.7);
}

/* Additional styles for the card content (e.g., h2, p, etc.) */
.payment-success-card h2 {
    color: #22b573;
}

.payment-success-card p {
    margin: 10px 0;
}
