@font-face
{
    font-family: 'Tcfont-Black';
    src: url('../font/Bambino_W00_Black.woff2') format('woff2'),       /* Super Modern Browsers */
            url('../font/Bambino_W00_Black.woff') format('woff'),      /* Pretty Modern Browsers */
            url('../font/Bambino_W00_Black.ttf') format('truetype');       /* Safari, Android, iOS */
}

#neon_button
{
    background-color: #fff100;
    font-family: 'Tcfont-Black';
    height: 5vh;
    border-radius: 20px;
    margin: 15px 10px 0 10px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#neon_button
{
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    color: #4E214F;
    letter-spacing: 4px;
    text-decoration: none;
    font-size: 16px;
    overflow: hidden;
    transition: 0.2s;
}

#neon_button:hover
{
    color: #255784;
    background: #FFF100;
    box-shadow: 0 0 10px #FFD746,
                0 0 40px #FFD746,
                0 0 80px #FFD746;
    transition-delay: 0.20s;
}

#neon_button .neonButton_span
{
    position: absolute;
    display: block;
}

#neon_button .neonButton_span:nth-child(1)
{
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #FFD746);
}

#neon_button:hover .neonButton_span:nth-child(1)
{
    left: 100%;
    transition: 1s;
}

#neon_button .neonButton_span:nth-child(3)
{
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #FFD746);
}

#neon_button:hover .neonButton_span:nth-child(3)
{
    right: 100%;
    transition: 1s;
    transition-delay: 0.50s;
}

#neon_button .neonButton_span:nth-child(2)
{
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #FFD746);
}

#neon_button:hover .neonButton_span:nth-child(2)
{
    top: 100%;
    transition: 1s;
    transition-delay: 0.25s;
}

#neon_button .neonButton_span:nth-child(4)
{
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #FFD746);
}

#neon_button:hover .neonButton_span:nth-child(4)
{
    bottom: 100%;
    transition: 1s;
    transition-delay: 0.75s;
}